@import '~scss/utils/_unit';
@import '~scss/utils/_breakpoint';

.root {
  composes: root from 'components/ListItem/style/ListItem.scss';
}

.container {
  composes: container from 'components/ListItem/style/ListItem.scss';
  font-size: rem-calc(20);
}

.separator {
  font-weight: bold;
}