@import './MenuItem.variables';

.root {
  list-style: none;
}

.container {
  text-decoration: none;
  padding-left: 15px;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
  display: block;
}
